
<div style="font-family:Verdana,Helvetica,Arial; align: center;">


  <table>

    <tr style="text-align: center;">
      <td  width="100%">
        <%= image_tag "https://www.adeter.org/guialocal/logos/llerena_email_mini.png",
        style:"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; padding: 5px;",
        align:"center" %>
      </td>
    </tr>

    <tr>
      <td  width="100%%">
        <h3 style="text-align: center;">Esta semana en el mercadillo digital os traemos...</h3>

      </td>
    </tr>
  </table>



  <table>
      <% if @promos.any? %>

        <% @promos.reverse.each do |promo| %>
        <tr style="margin-bottom: 10px;">

        <td width="25%">
          <p><%= image_tag "https://www.adeter.org/guialocal/logos/llerena.png",
          style:"outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" %></p>
        </td>

        <td width="75%">
          <p><h4><%= link_to promo.titulo, promo_url(promo) %></h4></p>
          <p><%= promo.texto %></p>
          <p><%#= image_tag (promo.imgpromo.url) unless promo.imgpromo.blank? %></p>
          <p>Termina el <span style="color:red; font-weight: bold;"><%= time_format_mini promo.validez %></span> </p>
        </td>


          <% end %>
      </tr>
    <% else %>
      <h4>Vaya... Esta semana no tenemos nada interesante, pero volveremos pronto con con más y mejores promociones</h4>
    <% end %>
</table>

</div>
