<div class="row">
  <div class="col-sm-3 admin">
    <div class="admin-sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <span><%= image_tag avatar_url(current_user), width:30, class: "img-circle" %></span>
        </div>
        <div class="pull-left info"><p>
          <%= current_user.first_name %>
        </p>

        </div>
      </div>

    </div>
    <ul class="admin-menu">
      <li class="text-uppercase text-center header">Main Navigation</li>
      <li>
        <%= link_to superadmin_users_path do %>
          <%= fa_icon "user" %>
          <span>Usuarios</span>
          <span class="label label-primary float-right"><%= @users.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_empresas_path do %>
          <%= fa_icon "building" %>
          <span>Empresas</span>
          <span class="label label-primary float-right"><%= @empresas.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_categories_path do %>
          <%= fa_icon "th" %>
          <span>Categorías</span>
          <span class="label label-info float-right"><%= @categories.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_promos_path do %>
          <%= fa_icon "bullhorn" %>
          <span>Promociones</span>
          <span class="label label-warning float-right"><%= @promos.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_tags_path do %>
          <%= fa_icon "tag" %>
          <span>Etiquetas</span>
          <span class="label label-default float-right"><%= @tags.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_eventos_path do %>
          <%= fa_icon "globe " %>
          <span>Eventos</span>
          <span class="label label-primary float-right"><%= @eventos.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_incidents_path do %>
          <%= fa_icon "comments" %>
          <span>Incidencias</span>
          <span class="label label-danger float-right"><%= @incidents.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_destacados_path do %>
          <%= fa_icon "star" %>
          <span>Destacados</span>
          <span class="label label-danger float-right"><%= @destacados.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_achievement_proposals_path do %>
          <%= fa_icon "flag-checkered " %>
          <span>Logros</span>
          <span class="label label-danger float-right"><%= @proposals.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_maps_path do %>
          <%= fa_icon "map" %>
          <span>Mapas</span>
          <span class="label label-danger float-right"><%= @maps.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_puntos_path do %>
          <%= fa_icon "map-pin" %>
          <span>Puntos de Interés</span>
          <span class="label label-danger float-right"><%= @puntos.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_suscriptors_path do %>
          <%= fa_icon "users" %>
          <span>Suscriptores</span>
          <span class="label label-danger float-right"><%= @suscriptors.count %></span>
        <% end %>
      </li>

      <li>
        <%= link_to superadmin_nodes_path do %>
          <%= fa_icon "desktop" %>
          <span>Nodos de pantalla</span>
          <span class="label label-danger float-right"><%= @nodes.count %></span>
        <% end %>
      </li>

      <li>
        <%= link_to superadmin_ambassadors_path do %>
          <%= fa_icon "university" %>
          <span>Embajadores</span>
          <span class="label label-danger float-right">*</span>
        <% end %>
      </li>

      <li>
        <%= link_to superadmin_configs_path do %>
          <%= fa_icon "cogs" %>
          <span>Configuraciones</span>
          <span class="label label-danger float-right">*</span>
        <% end %>
      </li>

    </ul>
  </div>
  <div class="col-sm-9">
    <header>
      <h1>Superadmin</h1>
    </header>
    <h4>Panel de control</h4>
  </div>
</div>
