<div class="row">
  <div class="col-sm-3 admin">
    <div class="admin-sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <span><%= image_tag avatar_url(current_user), width:30, class: "img-circle" %></span>
        </div>
        <div class="pull-left info"><p>
          Full name
        </p>

        </div>
      </div>

    </div>
    <ul class="admin-menu">
      <li class="text-uppercase text-center header">Main Navigation</li>
      <li>
        <%= link_to superadmin_users_path do %>
          <%= fa_icon "users" %>
          <span>Usuarios</span>
          <span class="label label-primary pull-right"><%= @users.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_categories_path do %>
          <%= fa_icon "th" %>
          <span>Categorías</span>
          <span class="label label-info pull-right"><%= @categories.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_creditos_edit_path do %>
          <%= fa_icon "bank" %>
          <span>Créditos</span>
          <span class="label label-danger pull-right">*</span>
        <% end %>
      </li>
      <li>
        <%= link_to empresas_path do %>
          <%= fa_icon "bullhorn" %>
          <span>Promociones</span>
          <span class="label label-warning pull-right"><%= @promos.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do %>
          <%= fa_icon "tag" %>
          <span>Etiquetas</span>
          <span class="label label-default pull-right"><%= @tags.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do %>
          <%= fa_icon "warning" %>
          <span>Eventos</span>
          <span class="label label-primary pull-right"><%= @eventos.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_incidents_path do %>
          <%= fa_icon "bug" %>
          <span>Incidencias</span>
          <span class="label label-danger pull-right"><%= @incidents.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_destacados_path do %>
          <%= fa_icon "star" %>
          <span>Destacados</span>
          <span class="label label-danger pull-right">Destacados</span>
        <% end %>
      </li>
      <li>
        <%= link_to superadmin_configs_path do %>
          <%= fa_icon "wrench" %>
          <span>Configuraciones</span>
          <span class="label label-danger pull-right">*</span>
        <% end %>
      </li>

    </ul>
  </div>
  <div class="col-sm-9">
    <header>
      <h1>Superadmin</h1>
    </header>
    <h4>Panel de control</h4>
  </div>
</div>
