<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h2 class="text-center">Reestablece tu contraseña</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <br>
      <p class="text-center">Introduce tu E-Mail y te enviaremos un enlace para que puedas reestablecer la contraseña</p>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Reestablecer contraseña", class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
