<%= simple_form_for(@evento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.trix_editor :info %>
    <p><%= f.date_select :fecha %></p>
    <p><%= f.file_field :imgevento, as: :file %></p>
  </div>

  <div class="form-actions">
    <p><%= f.button :submit %></p>
  </div>
<% end %>
