<div class="row">
  <div class="col-sm-3 admin">
    <div class="admin-sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <span><%= image_tag avatar_url(current_user), width:30, class: "img-circle" %></span>
        </div>
        <div class="pull-left info"><p>
          <%= current_user.first_name %>
        </p>

        </div>
      </div>

    </div>
    <ul class="admin-menu">
      <li class="text-uppercase text-center header">Main Navigation</li>
      <li>
        <%= link_to admin_users_path do %>
          <%= fa_icon "users" %>
          <span>Usuarios</span>
          <span class="label label-primary float-right"><%= @users.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_empresas_path do %>
          <%= fa_icon "building" %>
          <span>Empresas</span>
          <span class="label label-primary float-right"><%= @empresas.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_categories_path do %>
          <%= fa_icon "th" %>
          <span>Categorías</span>
          <span class="label label-info float-right"><%= @categories.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_promos_path do %>
          <%= fa_icon "bullhorn" %>
          <span>Promociones</span>
          <span class="label label-warning float-right"><%= @promos.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_tags_path do %>
          <%= fa_icon "tag" %>
          <span>Etiquetas</span>
          <span class="label label-default float-right"><%= @tags.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_eventos_path do %>
          <%= fa_icon "globe" %>
          <span>Eventos</span>
          <span class="label label-primary float-right"><%= @eventos.count %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_incidents_path do %>
          <%= fa_icon "comments" %>
          <span>Incidencias</span>
          <span class="label label-danger float-right"><%= @incidents.count %></span>
        <% end %>
      </li>


    </ul>
  </div>
  <div class="col-sm-9">
    <header>
      <h1>Admin</h1>
    </header>
    <h4>Panel de control</h4>
  </div>
</div>
