
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <div class="display-4">
        <p>Our international ambassadors<p>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <%= link_to "Spanish", "/ambassadors/#{@ambassador.slug}", class: "btn btn-secondary" %>
      <%= link_to  "English", "/ambassadors/#{@ambassador.slug}/english", class: "btn btn-secondary active" %>
      <% if @ambassador.language != "english" %>
      <%= link_to @ambassador.language.capitalize, "/ambassadors/#{@ambassador.slug}/#{@ambassador.language}", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
      <%= image_tag @ambassador.picture, alt: @ambassador.name + " from " +  @ambassador.country.capitalize, class: "img-fluid img-thumbnail" unless @ambassador.picture.blank?  %>
  </div>

  <div class="col-md-8">
    <div class="">
        <p>

          <h1>
            <%= @ambassador.name %>
          </h1>
        </p>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <p>From <%= @ambassador.country.capitalize %> <%= image_tag country_flag(@ambassador.country), class: "img-fluid", size: 25 %></p>
        <p class="lead"><%= @ambassador.bio_original %><p>
        <% if @ambassador.partner_name != "" || @ambassador.partner_profile != "" %>
        <p class="text-muted">An experience narrated with:  <%= link_to @ambassador.partner_name, @ambassador.partner_profile %><p>
        <% end %>

      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-center h2 my-3"><%= english_herhis(@ambassador).capitalize %> story in Llerena</p>
    <p><%= simple_format(@ambassador.review_original) %></p>
    <p class="text-center h2 my-3">What <%= english_shehe(@ambassador) %> told us in the interview</p>
      <div class="embed-responsive embed-responsive-16by9">
        <p><iframe width="560" height="315" src="<%= @ambassador.video_interview %>" frameborder="0" allowfullscreen></iframe></p>
      </div>

    <% if @ambassador.gallery.any? %>

    <p class="text-center h2 my-3">A few pictures of <%= english_herhis(@ambassador) %> experience in Llerena</p>

      <div data-controller="zoom">

      <p>
        <div class="row">
          <% @ambassador.gallery.each do |foto| %>
            <div data-target="zoom.pictures" class="col-md-4"><%= image_tag(foto.url, class: "img-fluid img-flex fotos gallery-items", alt: @ambassador.name) %></div>
          <% end %>
        </div>

      </div>

    <% end %>

    <p class="text-center h2 my-3">And since you are still here...</p>


    <%= render "cities/#{ENV["CURRENT_CITY"]}/recomendation" %>

  </div>
