<%= form_for(@promo, :html => {:id => "new_promo"}) do |f| %>


<% if @promo.errors.any? %>
  <ul>
  <% @promo.errors.full_messages.each do |msg| %>
    <li class="list-unstyled"><%= flash.now[:error] = msg %></li>
  <% end %>
  </ul>
<% end %>
  <div class="form-inputs">
    <div class="row">
      <%= f.text_field  :titulo, class: "form-control c", placeholder: "Título" %>
      <div class="cd"></div>
    </div>
<p></p>
    <div class="row">
      <%= f.text_area :texto, class: "form-control d", placeholder: "Texto" %>
      <div class="dd"></div>
    </div>

<div class="form-group">
      <p>
    Duración de la promoción: <span class="text-muted"><small>(Obligatorio)</small></span></br>
            <%= f.radio_button :validezElegida, "baja" %>
            <%= f.label 'validez_baja', ' 24 horas' %>

            <%= f.radio_button :validezElegida, "media" %>
            <%= f.label 'validez_media', ' 3 días' %>

            <%= f.radio_button :validezElegida, "alta" %>
            <%= f.label 'validez_alta', ' 1 semana' %>

      </p>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
    <%= f.label(:normal, "Precio normal") %> <span class="text-muted"><small>(Obligatorio)</small></span></br>
    <%= f.number_field(:normal_price, step: 0.05) %>
    </p>

    <p>
    <%= f.label(:rebajado, "Precio rebajado") %> <span class="text-muted"><small>(Opcional, pero recomendado)</small></span></br>
    <%= f.number_field(:special_price, step: 0.05) %>
    </p>
  </div>

</div>



    <p>
    <%= f.file_field :imgpromo, as: :file, label: "Imagen " %>
  </p>
  </div>

  <div class="form-actions">
    <%= f.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
