<%= form_for(@promo) do |f| %>
<% if @promo.errors.any? %>
  <ul>
  <% @promo.errors.full_messages.each do |msg| %>
    <li class="list-unstyled"><%= flash.now[:error] = msg %></li>
  <% end %>
  </ul>
<% end %>

  <div class="form-inputs">
    <p><%= f.text_field  :titulo %></p>
    <p><%= f.text_field  :texto %></p>
    <p>
      <div class="form-group">
      Duración de promoción:</br>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" value="baja">
        <label class="custom-control-label" for="customRadioInline1">24 horas (5 créditos)</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input" value="media">
        <label class="custom-control-label" for="customRadioInline2">3 días (7 créditos) </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input" value="alta">
        <label class="custom-control-label" for="customRadioInline3">1 semana (10 créditos) </label>
      </div>
      </div>
    </p>
    <p>
    <%= f.file_field :imgpromo, as: :file, label: "Imagen " %>
  </p>
  </div>

  <div class="form-actions">
    <%= f.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
