
<% if @promos.any? %>

  <% @promos.each do |promo| %>

    <%= link_to promo_path(promo) do %>
      <div class="row alert alert-warning">
        <div class="col-4">
          <%= image_tag (promo.img.url), class: "img-thumbnail img-fluid" unless promo.img.blank? %>
        </div>
        <div class="col-8">
          <h6 class="alert-link">  <%= promo.titulo %>  </h6>
          <h6>  <%= promo.texto %>   </h6>
          <h6> <strong> <%= time_format(promo.validez) %> </strong>  </h6>
        </div>
      </div>
    <% end %>

  <% end %>

  <% else %>
    <div class="row alert alert-secondary text-right">
      No hay promociones recientes
    </div>

<% end %>
