<%= hidden_field_tag 'plan', @plan %>
<%= hidden_field_tag 'waiting', @waiting %>

<div class="row">
  <div class="col-md-3">
    <p class="">
      <div class="card bg-light mb-3">
        <div class="card-header">
          Empresa <small class="float-right">
            <% if several_empresas %>
              <%= link_to users_change_empresa_path do %>
                <%= fa_icon "exchange-alt" %> Cambiar
              <% end %>
            <% end %>

          </small>
        </div>
        <div class="card-body">
          <h5 class="card-title"><span class="badge badge-secondary"><%= @empresa.name %></span></h5>
        </div>
      </div>
    </p>
    <p><h2 class="text-center">Disponibilidad</h2></p>

    <% if @ready == true %>
      <p class="text-center">¡Listo!</p>
      <p><h2 class="text-muted text-center"></h2></p>
      <ul class="list-unstyled"><p><li><%= link_to "Nueva promoción", new_promo_path, class: "btn btn-primary d-block mx-auto" %></li></p></ul>
    <% else %>

      <ul class="list-unstyled"> <p><li><%= link_to "Nueva promoción", new_promo_path, class: "btn btn-primary disabled d-block mx-auto" %></li></p> </ul>
      <p class="text-center"><small>Aún tienes que esperar</small></p>
      <p class="text-center"><span id="time"></span></p>

      <% if @waiting > 0%>
        <div data-controller="clock">
          <div id="clockdiv" class="mx-auto d-block" data-target="clock.display">
            <div>
              <span class="days"></span>
              <div class="smalltext">Días</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Horas</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutos</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Segundos</div>
            </div>
          </div>
        </div>
      <% end %>

      <p class="text-center"><small>hasta la próxima promoción</small></p>

    <% end %>

    <div id="nopremium">
      <p> <div class="text-muted text-center">¿No te gusta esperar?</div></p>
      <p class="text-center"><%= link_to "Pásate a Premium", "/precios"%></p>
    </div>

  </div>
  <div class="col-md-9">
    <p><h2 class="text-center">Promociones en activo</h2></p>

    <% if @actuales.any?  %>
      <%= render @actuales %>
    <% else %>
      <div class="row text-center text-muted">
        <div class="col-md-12">
          <h6 class="text-center">No hay promociones en activo</h6>
        </div>
      </div>
    <% end %>


    <p><h2 class="text-center">Promociones pasadas</h2></p>

    <% if @pasadas.any?  %>
      <%= render @pasadas %>
    <% else %>
      <div class="row text-muted">
        <div class="col-md-12">
          <h6 class="text-center">Aún no hay promociones inactivas</h6>
        </div>
      </div>
    <% end %>

  </div>

</div>
