<p><h2 class="text-center">Enséñale esto al comerciante o imprímelo para obtener tu descuento</h2></p>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-9">

      <% if @promo.empresa.try(:present?) %>
        <% if @promo.empresa.logo? %>
          <%= link_to(image_tag(@promo.empresa.logo.url, class: "img-fluid"), empresa_path(@promo.empresa)) if @promo.empresa.logo? %>
        <% else %>
          <%= @promo.empresa.name %>
        <% end %>
      <% end %>
      <p><h1><strong><%= @promo.titulo %></strong></h1></p>
    </div>


    <div class="col-md-3">
      <img src="https://chart.googleapis.com/chart?cht=qr&chl=<%= domain_base %><%= request.fullpath %>&chs=160x160&chld=L|0" class="qr-code img-thumbnail img-responsive mx-auto d-block">
      <p class="text-center">
        <% if (Time.now > @promo.validez) %>
          <span class="badge badge-danger still">
            <%= time_format(@promo.validez) %>
          </span>
        <% else %>
          <span class="badge badge-success still">
            <%= time_format(@promo.validez) %>
          </span><br/>
          <small>Fin: <%= time_format_mini(@promo.validez) %></small>

        <% end %>
      </p>
    </div>
  </div>

    <p class="lead cards"><%= @promo.texto %></p>

    <hr class="my-4">
    <div class="row">
      <div class="col-md-6">

      </div>


    </div>
    <div class="col-md-12">
      <div class="img-fluid">
        <%= image_tag @promo.imgpromo, class: "img-fluid img-thumbnail mx-auto d-block" if @promo.imgpromo? %>
      </div>
    </div>


    <!--Buttons for PC  -->
    <div class="text-center">
      <div class="pc_buttons">
        <a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u=<%= domain_base %><%= request.fullpath %>" title="Facebook" rel="nofollow noopener" target="_blank" style="background-color: #3b5998;"><i class="fab fa-facebook-square"></i></span> Compártelo</a>
        <a class="btn btn-primary" href="https://twitter.com/intent/tweet?text=Hello%20world" style="background-color:#55acee;"><i class="fab fa-twitter"></i> Tuitéalo</a>
      </div>
    <!-- Buttons for mobile -->
      <div class="mobile_buttons">
        <a class="btn btn-primary" href="whatsapp://send?text=<%= domain_base %><%= request.fullpath %>" style="background-color: #25d366;"><i class="fab fa-whatsapp"></i> Compartir por WhatsApp</a>
        <a class="btn btn-primary" href="fb-messenger://share/?link=<%= domain_base %><%= request.fullpath %>" style="background-color: #198ff7;"><i class="fab fa-facebook-messenger"></i> Compartir por Messenger</a>
      </div>
    </div>



</div>

<%= link_to "Volver", promos_path %>
