<%= hidden_field_tag 'waiting', @waiting %>
  <div class="row">
    <div class="col-md-3">

      <div data-controller="zoom">
        <div data-target="zoom.pictures">
          <%= image_tag @promo.imgpromo, class: "img-fluid img-thumbnail fotos gallery-items" if @promo.imgpromo? %>
        </div>
      </div>


      <% if @promo.empresa.try(:present?) %>
          <div class="text-center">
            <p class="h3">
              <% if @promo.special_price %>
              <span class="text-muted"><del><%= number_to_currency(@promo.normal_price, precision: 2, locale: :es) if @promo.normal_price %></del></span>
               <span class="font-weight-bold text-danger"><%= number_to_currency(@promo.special_price, precision: 2, locale: :es) if @promo.special_price %></span>
               <span><%= discount(@promo) %></span>
               <% else %>
                <% if @promo.normal_price %>
                <span class="font-weight-bold text-danger"><%= number_to_currency(@promo.normal_price, precision: 2, locale: :es) if @promo.normal_price %></span>
                <% end %>
               <% end %>
             </p>
            <small class="text-muted">Empresa: <%= link_to @promo.empresa.name, empresa_path(@promo.empresa) %></small>
          </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <p><h2><strong><%= @promo.titulo %></strong></h2></p>
      <p class="lead cards"><%= @promo.texto %></p>

      <div class="text-center">
      <!--Buttons for PC  -->
        <div class="pc_buttons filas">
          <a class="btn btn-primary filas" href="https://www.facebook.com/sharer/sharer.php?u=<%= domain_base %><%= request.fullpath %>" title="Facebook" rel="nofollow noopener" target="_blank" style="background-color: #3b5998;"><i class="fab fa-facebook-square"></i></span> Compártelo</a>
          <a class="btn btn-primary filas" href="https://twitter.com/intent/tweet?text=Hello%20world" style="background-color:#55acee;" rel="nofollow noopener" target="_blank"><i class="fab fa-twitter"></i> Tuitéalo</a>
        </div>
      <!-- Buttons for mobile -->
        <div class="mobile_buttons filas">
          <a class="btn btn-primary filas" href="whatsapp://send?text=<%= domain_base %><%= request.fullpath %>" style="background-color: #25d366;"><i class="fab fa-whatsapp"></i> Compartir por WhatsApp</a>
          <a class="btn btn-primary filas" href="fb-messenger://share/?link=<%= domain_base %><%= request.fullpath %>" style="background-color: #198ff7;"><i class="fab fa-facebook-messenger"></i> Compartir por Messenger</a>
        </div>
      </div>

    </div>


    <div class="col-md-3">
      <img src="https://chart.googleapis.com/chart?cht=qr&chl=<%= domain_base %><%= request.fullpath %>&chs=160x160&chld=L|0" class="qr-code img-thumbnail img-responsive mx-auto d-block">
      <p class="text-center">
        <% if (Time.now > @promo.validez) %>
          <span class="badge badge-danger still">
            <%= time_format(@promo.validez) %>
          </span>
        <% else %>
          <span class="badge badge-success still">
            <%= time_format(@promo.validez) %>
          </span><br/>
        <% end %>
      </p>

      <% if @waiting > 0%>
          <div id="clockdiv" class="mx-autdo d-block">
            <div>
              <span class="days"></span>
              <div class="smalltext">Días</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Horas</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutos</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Segundos</div>
            </div>
          </div>

          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <p><%= link_to "Seguir viendo promociones", ofertas_y_promociones_path %></p>
          </div>
        </div>
      </div>
