<h2>Enséñale esto al comerciante para obtener tu descuento</h2>
<div class="row">
  <div class="jumbotron">
    <h1 class="display-4"><%= @promo.titulo %></h1>
    <p class="lead"><%= @promo.texto %>

    </p>
    <hr class="my-4">
    <div class="row">
      <div class="col-6">
        <% if @promo.empresa.logo? %>
          <%= link_to(image_tag(@promo.empresa.logo, class: "img-fluid"), empresa_path(@promo.empresa)) if @promo.empresa.logo? %>
        <% else %>
          <%= @promo.empresa.name %>
        <% end %>

      </div>
      <div class="col-6">
        <p class="text-right">
          <% if (Time.now > @promo.texto) %>
            <span class="badge badge-danger still">
              <%= time_format(@promo.validez) %>
            </span>
          <% else %>
            <span class="badge badge-success still">
              <%= time_format(@promo.validez) %>
            </span><br/>
            <small>Fin: <%= time_format_mini(@promo.validez) %></small>

          <% end %>
        </p>
      </div>

    </div>
    <div class="col-12">
      <div class="img-fluid">
        <%= image_tag @promo.img if @promo.img? %>
      </div>
    </div>


  </div>
</div>
