<div class="row">

  <div class="col-md-12">
    <img src="<%= "#{$url_base}" %>/cities/llerena/mercadillo_digital_web.jpg" alt="adeter logo" class="img-fluid">
  </div>
  <div class="col-md-12">

    <div class="jumbotron">
      <p class="lead">Cada semana te tendremos al tanto de todas las ofertas, rebajas y chollos para que no se te pase nada y seas el primero en enterarte de todo.
      Cuando le das la oportunidad a una empresa local de mostrarte sus productos, estás contribuyendo a una economía local sana, y a que las zonas rurales prosperen.</p>
      <hr class="my-4">
      <p>Se envía un único correo semanal, con información útil y sin SPAM. Puedes darte de baja cuando quieras y nunca, <u>nunca</u> vamos a ceder tus datos.</p>
      <p class="lead">
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      </p>

      <div class="form-row align-items-center">


        <%= simple_form_for(@suscriptor) do |f| %>

        <div class="input-group">
          <div class="col-md-12">

            <div class="form-group text">
              <%= f.input :email, class: "form-control", placeholder: "tucorreo@email.com", required: true %>
              <%= f.invisible_captcha :subtitle %>
              <small id="emailHelp" class="form-text text-muted">¿Tienes una empresa amiga? (Opcional)</small>

              <%= f.input :empresa_id, collection: Empresa.all %>
            </div>


            <div class="input-group-append">
              <%= f.submit "¡Hecho!", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>

      </div>




    </div>

  </div>
</div>
