<%= simple_form_for [:superadmin, @incident] do |f| %>
  <%= f.error_notification %>


  <%= f.simple_fields_for :comments, @incident.comments.build do |fc| %>
      <%= fc.input :info, required: true, label: "Informe de seguimiento" %>
  <% end %>

  <div class="form-actions">
    <div class="btn-group">
      <%= f.submit "Pendiente", class: "btn btn-primary" %>
      <%= f.submit "Reportar", class: "btn btn-warning" %>
      <%= f.submit "Concluida", class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
