
<h2>Informe de incidencia</h2>
<p>
  <div class="row">
    <div class="col-md-6">
      <h6>Incidencia nº <%= @incident.id %></h6>
      <h6>Fecha de incidencia: <%= @incident.created_at %>, Hace <%= time_ago_in_words @incident.created_at %></h6>
      <h6>Última actualización: <%= @incident.updated_at %>, Hace <%= time_ago_in_words @incident.updated_at %></h6>
      <h6>Estado:
                <td class="text-center">
                   <% if @incident.status == "abierto" %>
                      <span class="badge badge-success">Abierto</span>
                   <% elsif  @incident.status == "pendiente" %>
                      <span class="badge badge-primary">Pendiente</span>
                   <% elsif  @incident.status == "reportar" %>
                      <span class="badge badge-warning">Reportada</span>
                   <% elsif  @incident.status == "concluida" %>
                      <span class="badge badge-danger">Concluida</span>
                   <% else %>
                      <span class="badge badge-secondary">¡Fallo!</span>
                   <% end %>
                </td>
      </h6>
      <h6>Asunto: <strong><%= @incident.subject %></strong></h6>
      <h6>Detalles:</h6>
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
          <span class="text-muted"><%= @incident.info %></span>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <% if @incident.user %>
        <%= @incident.user.email %>
      <%else%>
        Usuario Anónimo
      <%end%>

    </div>


  </div>

</p>

    <%= render 'form' %>

    <div class="dropdown-divider"></div>

    <% if @incident.comments.try(:any?) %>
      <% @incident.comments.each do |comment| %>
        <% next if comment.new_record? %>
      <div class="row comment">

          <div class="col-md-8">
            <%= comment.info %>
          </div>
          <div class="col-md-4">
            <small class="text-muted">
              <%= comment.incident.user.email %>
              <%= comment.created_at.strftime("%d %b %Y - %H:%M") if comment and comment.created_at %>
            </small>
          </div>

      </div>
      <% end %>

    <% else %>
      Aún no se han realizado acciones
    <% end %>

<div class="dropdown-divider"></div>
    <div class="text-center">
      <%= link_to "Volver", superadmin_incidents_path %>
    </div>
