<h1 class="text-center">A hombros de gigantes</h1>

<h5>
  <p>Un proyecto de estas características no sale adelante sin gente buena que te ayude en algunos de los puntos más críticos del camino.</p>
  <p>Este proyecto no hubiese sido posible sin:</p>
</h5>

<p><%= link_to "Chanel Sopo Lambea", "https://www.linkedin.com/in/chanel-sopo-lambea-b3600476/" %><br/>
  Porque a parte de ser una gran ingeniera, es toda una artista. Por su apoyo técnico y porque suyos son los mapas.
</p>
<p><%= link_to "Nacho Rodríguez Cid", "https://www.linkedin.com/in/juan-carlos-luque-megias-618b8449/" %><br/>
  Por estos dos meses en los que ha ayudado en absolutamente todo, con una profesionalidad sobresaliente.
</p>
<p><%= link_to "Rafael Eduardo Castillo", "https://www.linkedin.com/in/rafael-castillo-056910127/" %><br/>
  Una deidad de la programación, el último recurso ante la frustración y un gran amigo al otro lado del charco.
</p>
<p><%= link_to "Manolo del Barco", "#" %><br/>
  Por su ayuda y voluntad para que las cosas salgan adelante y por proveer la información que puedes ver en esta guía.
</p>
<p><%= link_to "Juan Sevilla", "https://www.flickr.com/photos/juaninda/" %><br/>
  Por su ayuda y asesoramiento para hacer buenas fotografías y buenos retoques. </p>
<p><%= link_to "Juan Carlos Luque", "https://www.linkedin.com/in/juan-carlos-luque-megias-618b8449/" %><br/>
  Por toda la ayuda durante todo el proyecto, y porque suya fue la idea inicial de esta plataforma.
</p>
<p><%= link_to "Juan Manuel Olivera", "https://www.linkedin.com/in/juan-manuel-olivera-vazquez-36543859/" %><br/>
  Por toda la ayuda durante todo el proyecto, por estar ahí en los momentos más críticos y por aportar todo lo que tiene sin dejarse nada.
</p>
