<div class="row">
  <div class="col-md-12">
    <h1>Guía gastronómica de Llerena</h1>
    <p>
      <h5>
        <p>En esta guía puedes encontrar los platos más populares y sabrosos de nuestra tierra. Este listado está hecho con las 3 opciones que cada hostelero ha considerado más interesantes de su carta y de las que se siente especialmente orgulloso.</p>
        <p>Todas las fotografías son reales, hechas <i>in situ</i> y representan la realidad de lo que se ofrece.</p>
        <p>Haciendo clic en la fotografía, descubrirás qué establecimiento está detrás cada plato.</p>

      </h5>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-12 mx-auto">
    <!-- 1 -->

    <%= link_to "https://www.guiallerena.es/empresas/hotel-isur" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/hotelisur/pierna_de_cordero_confitada.jpg" alt="Pierna de cordero confitada hotel isur Llerena">
      <div class="card-body">
        <h5 class="card-title">Pierna de cordero confitada</h5>
        <p class="card-text event-text"><i>"Plato elaborado con corderos seleccionados que se cocinan lentamente en horno durante 24 horas recibiendo un último golpe de calor justo antes de servirse. El resultado es una carne extremadamente jugosa y sabrosa con un exterior ligeramente churruscado que se desprende con el tenedor."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/la-taperia-de-llerena" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/taperia/tribal.jpg" alt="Tribal de verduras con queso de cabra y miel">
      <div class="card-body">
        <h5 class="card-title">Tribal de verduras con queso de cabra y miel</h5>
        <p class="card-text event-text"><i>"Plato de referencia vegetariano de sabor exquisito y con una multitud de sensaciones y sabores que se disfruta de principio a fin"</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/la-casineta" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/casineta/croquetas_jamon.jpg" alt="Croquetas caseras de jamón en La Casineta Llerena">
      <div class="card-body">
        <h5 class="card-title">Croquetas caseras de jamón</h5>
        <p class="card-text event-text"><i>"Riquísimas croquetas caseras con jamón servidas recién hechas"</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/cafe-bar-san-anton" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/sananton/revuelto_gambas.jpg" alt="Revuelto de gambas San Antón Llerena">
      <div class="card-body">
        <h5 class="card-title">Revuelto de gambas</h5>
        <p class="card-text event-text"><i>"Revuelto de gambas con aceite de oliva y pimentón. Un plato rico y sabroso."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <!-- 2 -->

    <%= link_to "https://www.guiallerena.es/empresas/hotel-isur" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/hotelisur/arroz_con_bogavante.jpg" alt="Arroz con Bogavante Hotel Isur Llerena">
      <div class="card-body">
        <h5 class="card-title">Arroz con bogavante y esencias del mar</h5>
        <p class="card-text event-text"><i>"Fondo de arroz variado y potente que aporta un grano suelto con aroma y sabor. Recomendamos acompañarlo con un vino blanco y seco de la tierra."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/la-taperia-de-llerena" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/taperia/boquerones.jpg" alt="Boquerones rellenos de jamón y piquillos (pimientos del piquillos) sobre cama de salmorejo">
      <div class="card-body">
        <h5 class="card-title">Boquerones rellenos de jamón y piquillos sobre cama de salmorejo</h5>
        <p class="card-text event-text"><i>"Boquerones rellenos de jamón y pimientos de piquillo sobre una cama de salmorejo. Un plato muy elaborado,muy artesanal. Sabor intenso y con contrastes que hace las delicias del comensal."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/la-casineta" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/casineta/calamares_romana.jpg" alt="Calamares a la Romana La Casineta Llerena">
      <div class="card-body">
        <h5 class="card-title">Calamares a la romana</h5>
        <p class="card-text event-text"><i>"Plato de referencia del local. Calamares frescos y de gran tamaño con el toque de la casa."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/cafe-bar-san-anton" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/sananton/bacalao.jpg" alt="Bacalao dorado con nata y gambas Llerena">
      <div class="card-body">
        <h5 class="card-title">Bacalao dorado con nata y gambas</h5>
        <p class="card-text event-text"><i>"Plato de referencia del local. Bacalao dorado muy jugoso, rebozado con gambas y con base de nata."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <!-- 3 -->

    <%= link_to "https://www.guiallerena.es/empresas/hotel-isur" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/hotelisur/carrillera_iberica.jpg" alt="Carrillera de cerdo estofada">
      <div class="card-body">
        <h5 class="card-title">Carrillera de cerdo estofada</h5>
        <p class="card-text event-text"><i>"Un plato típico de la zona cocinado a fuego lento que resulta en una carne tierna y sabrosa que se deshace en la boca. Ideal para acompañar con un Ribera del Guadiana."</i> - Comentario del Chef </p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/la-taperia-de-llerena" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/taperia/sepia.jpg" alt="Sepia a la plancha con vinagreta de ajo verde">
      <div class="card-body">
        <h5 class="card-title">Sepia a la plancha con vinagreta de ajo verde</h5>
        <p class="card-text event-text"><i>"Sepia fresca a la plancha con vinagreta de ajo verde. Una propuesta tradicional con un toque innovador. Ideal para acompañar con cualquier vino blanco."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/la-casineta" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/casineta/solomillo_ajillo.jpg" alt="Solomillo de cerdo ibérico al ajillo La Casineta Llerena">
      <div class="card-body">
        <h5 class="card-title">Solomillo de cerdo ibérico al ajillo</h5>
        <p class="card-text event-text"><i>"Solomillo de cerdo ibérico acompañado con una base de champiñones y patatas. Carne tierna, jugosa y con sabor."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/empresas/cafe-bar-san-anton" do %>
    <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/comer/sananton/solomillo_cabra.jpg" alt="Solomillo de cerdo con cebolla caramelizada y queso de cabra San Antón Llerena">
      <div class="card-body">
        <h5 class="card-title">Solomillo de cerdo con cebolla caramelizada y queso de cabra</h5>
        <p class="card-text event-text"><i>"Solomillo de cerdo con cebolla caramelizada y queso de cabra. Una combinación única de sabores que junto a la jugosidad de la carne conforma un manjar para los sentidos."</i> - Comentario del Chef</p>
      </div>
    </div>
    <% end %>



  </div>

</div>
