<div class="row">
  <div class="col-md-12">
    <h1>Historia y cultura de Llerena</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5>
      <p>Los inicios de Llerena se remontan a la época de disputas entre árabes y cristianos, hace unos 800 años. Por aquel entonces los árabes la conocía como Ellerina.
      No fue hasta el año 1243 en que los ejércitos cristianos a las órdenes de Pelay Pérez Correa, maestre de la Orden de Santiago tomaron la ciudad siguiendo las órdenes
    de Fernando III de Castilla. </p>

    <p>
      Fue lugar de residencia habitual de los maestres de la Orden de Santiago, hecho que favoreció remendamente a la ciudad, que ya en el siglo XV llegó a ser la sede del priorato
      de San Marcos de León. Durante los años sucesivos, la importancia del municipio se hizo más y más creciente, llegando a ser el centro administrativo de la provincia de
      León de la Orden de Santiago. Se constituyó como sede de la Mesa Central de la Orden, y fue la población principal entre más de 30 municipios que eran gestionados desde Llerena.
    </p>

    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/leon_orden_santiago.jpg" alt="Mapa de la provincia León de la Orden de Santiago" class="img-fluid"> </p>

    <p>
      En 1340, el rey Alfonso XI de Castilla preside la celebración de las cortes en Llerena. En 1383 se celebra el Capítulo General de la Orden de Santiago
       por Pedro Fernández Cabeza de Vaca, que contó con la asistencia de todos los Comendadores de aquel momento. El Maestre de la Orden Lorenzo Suárez de
        Figueroa recibe la licencia para celebrar las ferias de San Mateo el 21 de septiembre -fecha que aún se mantiene-, construye la capilla de la Trinidad
         en la iglesia de la Granada, los bastimentos, y termina el edificio destinado a Casa Maestral o el convento de Santa Elena.
    </p>

      <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/iglesia_de_la_granada.jpg" alt="Iglesia de la Virgen de la Granada Llerena" class="img-fluid"> </p>

    <p>
      A finales del siglo XIV García Fernández de Villagarcía, noble castellano y maestre de la Orden de Santiago construye
      <%= link_to "el castillo de la vecina localidad de Villagarcía de la Torre", "https://www.guiallerena.es/puntos/mirador-sierra-de-san-miguel"%>
       y se convierte en el patrono de la capilla mayor de la <%= link_to "Iglesia de Santa María de la Granada", "https://www.guiallerena.es/puntos/iglesia-de-la-granada"%> de Llerena,
        lugar donde finalmente sería enterrado tras su muerte.
    </p>

    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/castillo_de_villagarcia.jpg" alt="Castillo de Villagarcía" class="img-fluid"> </p>

    <p>
       Posteriormente Alonso de Cárdenas, último maestre de la Orden de Santiago y que, entre otras cosas prestó sus servicios a Los Reyes Católicos y
       tuvo a su mando a <em>El Gran Capitán</em> (también fue el descubridor del Gran Cañón del Colorado), decide  la creación de la
       <%= link_to "Iglesia de Santiago", "https://www.guiallerena.es/puntos/iglesia-de-santiago"%> y de lo que a posteriori sería su lugar de sepultura.
       Dotó al recinto amurallado de algunas de las puertas más importantes de la ciudad, como <%= link_to "la puerta de Villagarcía", "https://www.guiallerena.es/puntos/puerta-de-villagarcia"%>.
    </p>

    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/iglesia_de_santiago.jpg" alt="Iglesia de Santiago de Llerena" class="img-fluid"> </p>

    <p>
      Al igual que otros territorios musulmanes reconquistados, se produjo una repoblación progresiva a través de familias leonesas, cántabras y vascas.
       Además se crea un importante núcleo judío dentro de la ciudad, que contribuye a convertirla en una población próspera y con altos niveles económicos y culturales.

       En esta etapa, y al igual que en otras ciudades como Toledo, se produce una convivencia pacífica entre las tres culturas: cristianos, judíos y musulmanes.
       En el año 1479, el judío Rabí Mayr consiguió que los Reyes Católicos eliminasen la prohibición de que los judíos celebrasen ferias y mercados, existente en el reino de Castilla.
       Esto permitió mejorar los niveles económicos de la ciudad y facilitó la creación de la escuela de traductores. En esta época había 600 familias judías en Llerena que vivían en los alrededores de la sinagoga (ermita de Santa Catalina) y la Fuente Pellejera.
     </p>

      <p> En 1492 los Reyes Católicos firman el decreto de expulsión de los judíos, resultando en 125 familias judías que pasan a ser judeoconversas. </p>

      <p>
        Ya a principios de nuevo siglo, en 1508 se establece Llerena como una de las sedes principales del Tribunal de la Inquisición, siendo el tercero en
        importancia de España. Este hito fue conseguido en gran medida por la influencia del licenciado Luis Zapata, llerenence, asesor y consejero de Los
        Reyes Católicos. La extensión de su jurisdicción incluía los oblispados de Badajoz, Plasencia, Corio y Ciudad Rodrigo.  En este momento y hasta su abolición
         en 1834 Llerena tendría 3 sedes permanentes de dicho tribunal: El palacio prioral (<%= link_to "actual museo", "https://www.guiallerena.es/puntos/museo-de-llerena-palacio-episcopal" %>),
          <%= link_to "la casa maestral", "https://www.guiallerena.es/puntos/casa-maestral" %> y el <%= link_to "Palacio de los Zapata","https://www.guiallerena.es/puntos/palacio-de-los-zapata" %>.
      </p>

      <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/palacio_episcopal_museo.jpg" alt="Museo - Palacio Episcopal Llerena" class="img-fluid"> </p>

      <p>
      A partir de finales del siglo XVII y hasta bien acabada la Guerra de la Independencia con Francia Llerena se sumió en una etapa de profunda decadencia
      debido a una multitud de factores entre las que destacaron sucesivos brotes de peste, las guerras con Portugal, la expulsión de los moriscos o la sucesión de
      gobernantes locales poco cualificados. Durante la Guerra de la Independencia la ciudad sufre una gran destrucción y numerosos expolios.
      </p>

      <p>
        Hoy en día Llerena sigue teniendo el espíritu de la gran ciudad que fue, con los muros de sus murallas como testigos de numerosas batallas y multitud
        de elementos de distintas épocas que hacen de Llerena un lugar mágico y un destino de obligada visita.
      </p>

      <p class="text-center"><%= link_to "Volver", root_path%></p>

    </h5>
  </div>
</div>
