<div class="row">
  <div class="col-md-12">
    <h1>Naturaleza en Llerena y la campiña sur</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>
    <p>
    Llerena y La Campiña Sur se hayan situadas en un ecosistema natural privilegiado, en los confines de Sierra Morena y en una de las zonas
    con mayor biodiversidad de la Península Ibérica. No en vano, tiene en su territorio una de las zonas ZEPA (Zona Especial de Protección de Aves)
    más importantes de Extremadura y de España, suponiendo esto una fuente potencial de turismo ornitológico.
    </p>

    <p>
      Además, la comarca de Llerena está especialmente bien dotada en cuanto a espacios naturales y reservas destinadas a la conservación animal. Específicamente,
      podemos destacar las grandes poblaciones de ciervos y jabalís salvajes que hacen del lugar un sitio especialmente interesante en la época de <em> la berrea </em>.
    </p>
    <p> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/ciervo.jpg" alt="ciervos en la berrea de Llerena Extremadura" class="img-fluid"> </p>

    <p>
      Otro punto que hace de La Campiña Sur un lugar único es la calidad de sus cielos para la observación astronómica, debido en gran parte un nivel
      extremadamente bajo de contaminación lumínica y a emplezamientos privilegiados entre montañas y a una altitud óptima. Lo sitios recomendados para esta práctica
      son el mirador de la Sierra de San Miguel y especialmente el área cercana a la Ermita de la virgen del Ara, en el término municipal de Fuente del Arco.
    </p>

    <p> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/mirador.jpg" alt="mirador Sierra de San Miguel Llerena" class="img-fluid"> </p>

    <p>
       No podemos olvidarnos de sitios emblemáticos como el Parque Natural de Las Quinientas, en el término municipal de Berlanga, con una belleza incomparable y un lugar
       más que apto para visitar con toda la familia. Allí podrá ver especies exóticas de animales (avestruces, llamas, emus, watussis, etc) y disfrutar de un lugar de gran
       encanto.
    </p>
    <p> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/berlanga.jpg" alt="Paque Natural de Berlanga" class="img-fluid"> </p>

    <p>
      Por último podemos destacar zonas de relax y aire puro donde cargar las pilas junto a toda la familia. La zona de "La Morolla - La Olla" es un lugar totalmente adaptado
      con bancos, mesas y barbarcos que cuenta con piscinas naturales durante algunos meses del año y en el que es posible acampar durante todo el año de forma gratuita. También
      es posible la visita con carabanas y autocarabanas.
    </p>
    <p> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/morolla1.jpg" alt="Paque Natural de Berlanga" class="img-fluid"> </p>
    <p> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/morolla2.jpg" alt="Paque Natural de Berlanga" class="img-fluid"> </p>

    </h4>

    <p class="text-center"><%= link_to "Volver", root_path%></p>


  </div>
</div>
