<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Todos los sitios de interés de Llerena y La Campiña Sur</h1>

  </div>
</div>

  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">

    <%= link_to "https://www.guiallerena.es/puntos/arco-de-montemolin" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/1.jpg" alt="Arco de Montemolín">
      <div class="card-body">
        <h5 class="card-title">Arco de Montemolín</h5>
        <p class="card-text event-text">El Arco de Montemolín era una de las grandes puertas que daban acceso a la ciudad de Llerena,
           ésta adquiere una remodelación que se hace en época de Felipe II, haciéndose una portada de estilo renacentista.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/biblioteca-arturo-perez-gazul-hospital-san-juan-de-dios" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/2.jpg" alt="Biblioteca Arturo Gazul / Hospital San Juan de Dios">
      <div class="card-body">
        <h5 class="card-title">Biblioteca Arturo Gazul / Hospital San Juan de Dios</h5>
        <p class="card-text event-text">El Hospital San Juan de Dios (actualmente Biblioteca Municipal de Llerena Arturo Gazul), era uno de los cuatro hospitales religiosos que se encontraban en Llerena.
          Esos cuatro hospitales fueron fusionándose, siendo éste uno de los más importantes, perteneciente a la Orden Hospitalaria de San Juan de Dios.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/casa-maestral" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/3.jpg" alt="Casa Maestral">
      <div class="card-body">
        <h5 class="card-title">Casa Maestral</h5>
        <p class="card-text event-text">Era la residencia de Los Maestres de La Orden de Santiago cuando pasaban por Llerena, aunque mayormente se utilizó como edificio administrativo de Los Maestres de la Orden.
           Cuando el rey Fernando el Católico asume el maestrazgo de las órdenes, cede el edificio a La Santa Inquisición.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/alcazaba-de-reina" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/4.jpg" alt="Alcazaba de Reina">
      <div class="card-body">
        <h5 class="card-title">Alcazaba de Reina</h5>
        <p class="card-text event-text">Edificación defensiva cuyos orígenes se remontan al último tercio del siglo XII, Junto con la fortaleza de Montemolín,
          formaban una barrera defensiva los ejércitos de Los Almohades para impedir el paso de las fuerzas cristianas en su proceso de Reconquista del sur de España.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/castillo-de-villagarcia-de-la-torre" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/5.jpg" alt="Castillo de Villagarcía de La Torre">
      <div class="card-body">
        <h5 class="card-title">Castillo de Villagarcía de La Torre</h5>
        <p class="card-text event-text">El castillo señorial de Villagarcía de la Torre fue construido en el siglo XV por Luis Cristóbal Ponce de León, marido de Doña Teresa de Guzmán, que se convertiría en 1430 en III Señora de Villagarcía,
          tras la muerte de su madre Beatriz Suárez de Figueroa. El castillo se mantuvo casi intacto hasta la Guerra de la Independencia, durante la que sirvió de hospital a los franceses. Posteriormente fue arrasado en casi su totalidad por
          el general Pablo Morillo durante las Guerras Carlistas.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/ermita-de-la-virgen-del-ara" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/6.jpg" alt="Ermita de La Virgen del Ara">
      <div class="card-body">
        <h5 class="card-title">Ermita de La Virgen del Ara</h5>
        <p class="card-text event-text">El santuario lo mandó edificar, casi a sus expensas, el prior, perteneciente a La Orden de Santiago, Don García Ramírez. La construcción data de finales del siglo XIV principios del XV.
          Denominada comúnmente como “La Capilla Sixtina de Extremadura”, por los frescos de tantísima calidad artística que cubren sus paredes interiores.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/iglesia-de-la-granada" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/7.jpg" alt="Iglesia de La Granada">
      <div class="card-body">
        <h5 class="card-title">Iglesia de La Granada</h5>
        <p class="card-text event-text">La Iglesia de La Granada, es una construcción que se inicia en el Siglo XIV y se prolonga hasta bien entrado el Siglo XVIII,
          ya que ha estado en continua construcción y se han ido haciendo diversas remodelaciones. Es la construcción más importante y llamativa de la ciudad de Llerena.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/iglesia-de-santiago" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/8.jpg" alt="Iglesia de Santiago">
      <div class="card-body">
        <h5 class="card-title">Iglesia de Santiago</h5>
        <p class="card-text event-text">La Iglesia de Santiago es el Panteón de Don Alonso de Cárdenas, último Gran Maestre de la Orden de Santiago.
          Éste decide construir una iglesia que le sirviese como lugar de enterramiento en su fallecimiento,
          de hecho, toda la construcción gira entorno a lo que es el enterramiento.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/mina-de-la-jayona" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/9.jpg" alt="Mina de La Jayona">
      <div class="card-body">
        <h5 class="card-title">Mina de La Jayona</h5>
        <p class="card-text event-text">La Mina de La Jayona es una antigua mina de hierro situada en la sierra del mismo nombre, en el término municipal de Fuente del Arco,
          provincia de Badajoz (España), declarada Monumento Natural en el Diario Oficial de Extremadura del 30 de septiembre de 1997.
          El origen de la mina se inicia con la llegada de los romanos y ha estado en explotación en distintas fases hasta su cierre definitivo en el año 1921. </p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/complejo-cultural-la-merced" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/10.jpg" alt="Complejo Cultural La Merced">
      <div class="card-body">
        <h5 class="card-title">Complejo Cultural La Merced</h5>
        <p class="card-text event-text">La Merced, en su origen era el colegio de Los Jesuitas,
          aunque se conozca como La Merced debido a que Los Mercedarios ocuparon por un breve espacio de tiempo el edificio. </p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/paraje-de-los-molinos" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/11.jpg" alt="Paraje de Los Molinos">
      <div class="card-body">
        <h5 class="card-title">Paraje de Los Molinos</h5>
        <p class="card-text event-text">El paraje de Los Molinos, situado a unos 7kms de la ciudad de Llerena, se trata de un valle natural predominado por un paisaje de naturaleza típica,
          autóctona de la zona, donde encontramos un pequeño albergue en el que alojarnos y disfrutar de unos días de pleno descanso. </p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/espacio-natural-la-morolla" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/12.jpg" alt="Espacio Natural 'La Morolla' - 'La Olla'">
      <div class="card-body">
        <h5 class="card-title">Espacio Natural “La Morolla”- "La Olla"</h5>
        <p class="card-text event-text">A 9 Km. de la ciudad se localiza la finca municipal denominada La Morolla, compuesta por una gran diversidad de especies autóctonas
          tan representativas del sur de Extremadura, como son las encinas, alcornoques, jaras, adelfas, etc. Por toda esta zona discurre la ribera de los Molinos,
          hecho que propicia que sea el lugar elegido por los llerenenses para pasar un agradable día en contacto con la naturaleza. </p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/puerta-de-villagarcia" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/13.jpg" alt="Puerta de Villagarcía">
      <div class="card-body">
        <h5 class="card-title">Puerta de Villagarcía</h5>
        <p class="card-text event-text">La puerta de Villagarcía, era una de las 4 puertas principales que daban acceso a la ciudad de Llerena.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/museo-de-llerena-palacio-episcopal" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/14.jpg" alt="Museo de Llerena / Palacio Episcopal">
      <div class="card-body">
        <h5 class="card-title">Museo de Llerena / Palacio Episcopal</h5>
        <p class="card-text event-text">El Museo de Llerena, fue originariamente la primera sede de La Santa Inquisición, era el Palacio Prioral,
          residencia de los priores de la provincia de León cuando pasaban por Llerena y desde donde se administraba el Priorato.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/palacio-de-los-zapata" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/15.jpg" alt="Palacio de Los Zapata">
      <div class="card-body">
        <h5 class="card-title">Palacio de Los Zapata</h5>
        <p class="card-text event-text">El palacio de Los Zapata fue en su época la mejor casa que tuvo caballero en España,
          según las crónicas de la época. Se trataba de un palacio de estilo Renacentista, compuesto por salas nobles,
          un amplio salón dorado, una capilla y un precioso patio renacentista que estaban ampliamente decorados. Era un
          palacio privado, propiedad de la Familia Zapata, que por aquel entonces, era de las más importantes del reino,
          con mayor influencia y poder económico en España.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/observatorio-de-aves-pantano-de-llerena" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/16.jpg" alt="Observatorio de Aves / Pantano de Llerena">
      <div class="card-body">
        <h5 class="card-title">Observatorio de Aves / Pantano de Llerena</h5>
        <p class="card-text event-text">La Presa de Llerena fue construida sobre el cauce del Arroyo Conejo en el año 1989.
          Su uso, es únicamente el de abastecimiento, llevando sus aguas a distintas poblaciones de la zona.
          A su vez, es una zona muy interesante en temas ornitológicos debido a la cantidad de aves diversas que podemos encontrar por la zona.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/parque-natural-las-quinientas-de-berlanga" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/17.jpg" alt="Parque Natural 'Las Quinientas' de Berlanga">
      <div class="card-body">
        <h5 class="card-title">Parque Natural de Berlanga “Las Quinientas” </h5>
        <p class="card-text event-text">El “Parque-Reserva Natural de las Quinientas” surge como iniciativa del Ayuntamiento de Berlanga (Badajoz),
          cuya misión principal es generar unas condiciones óptimas para el cuidado y el respeto por el Medio Ambiente, aspirando a convertirse en
          un lugar clave a la hora de formar a las nuevas generaciones en el cuidado y el respeto por la Naturaleza.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/parque-de-la-constitucion" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/18.jpg" alt="Parque de La Constitución">
      <div class="card-body">
        <h5 class="card-title">Parque de La Constitución</h5>
        <p class="card-text event-text">Se trataba de un terreno de extramuros, creación de principios del siglo XX, época en la que empieza a florecer
          un inmenso fervor en darle a Llerena un aire de modernidad, como consta en las actas plenarias de las sesiones del Ayuntamiento de aquellos días.
        Un lugar de paz y tranquilidad en el corazón de la ciudad.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/mirador-sierra-de-san-miguel" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/19.jpg" alt="Mirador de la 'Sierra de San Miguel'">
      <div class="card-body">
        <h5 class="card-title">Mirador de la “Sierra de San Miguel”</h5>
        <p class="card-text event-text">En la cima de la Sierra de San Miguel, encontramos un magnífico mirador, desde donde podrás contemplar
          con gran impresión los confines de La Campiña Sur, sus amplios terrenos ricos en cultivo y desde donde podrás ver la ciudad de Llerena
          desde una vista privilegiada.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/teatro-romano-de-regina" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/20.jpg" alt="Teatro Romano de Regina">
      <div class="card-body">
        <h5 class="card-title">Teatro Romano de Regina</h5>
        <p class="card-text event-text">El Teatro Romano de Regina, fue construido en época de los emperadores Flavios,
          tenía capacidad para acoger a unos mil espectadores y estuvo en pleno funcionamiento hasta el siglo IV d.C.</p>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.guiallerena.es/puntos/el-tumbaito-portillo-del-sol" do %>
      <div class="card mb-3 mx-auto cards">
      <img class="card-img-top" src="<%= "#{$url_base}" %>/cities/llerena/fotos/21.jpg" alt="El Tumbaíto / Portillo del Sol">
      <div class="card-body">
        <h5 class="card-title">El Tumbaíto / Portillo del Sol</h5>
        <p class="card-text event-text">El Portillo del Sol, comúnmente llamado “El Tumbaito”, fue una de las puertas menores
          que daban acceso a la ciudad. Se trata de un tramo emblemático, no sólo por su estado de conservación, sino porque
          además confluyen dos estilos constructivos distintos, de distintas épocas.</p>
      </div>
    </div>
    <% end %>



    </div>
  </div>
