<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Turismo Activo en Llerena y La Campiña Sur</h1>


    <h1>Paintball</h1>
    <p>¡Esto es la guerra!</p>
    <p>
      Seguramente lo hayas visto o hayas oido hablar, pero ahora es cuando de verdad vas a poder vivirlo. Dos equipos, armas, un campo de batalla, varios obstáculos
       y muchas bolas de pintura. El resto lo pones tú. Vive una experiencia increible donde tendrás la adrenalina al máximo. Si quieres ajustar cuentas con alguien
        o decidir el ganador de una apuesta, esta es la mejor forma posible. ¡Que no te lo cuenten!
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/paintball.jpg" alt="Actividades de Paintball en Llerena" class="img-fluid"> </p>


    <h1>Espeleología (Iniciación)</h1>
    <p>
      ¿Has fantaseado alguna vez con vivir aventuras como Indiana Jones, recorriendo grutas y adentrándote en cuevas?<br/>
      ¡Esta actividad es para ti! Te ofrecemos la posibilidad de hacer un recorrido guiado por algunas de las grutas más desconocidas de los confines de Sierra Morena,
      incluyendo descensos verticales, recorrido por estrechas grietas y acceso a minas y cuevas.
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/espeleologia.jpg" alt="Espeleología en Sierra Morena, Llerena" class="img-fluid"> </p>


    <h1>Rutas en bici</h1>
    <p>
      ¿A quién no le gusta montar en Bici? La Campiña Sur ofrece oportunidades incomparables para descubrir sus rincones sobre las dos ruedas. Llano o montaña,
      tienes para elegir. ¿Sugerencia de la casa? Recorrido desde Llerena hasta el teatro Romano de Regina, desde allí subida al Castillo de Reino para terminar con un tramo
      de montaña en el mirador de la Sierra de San Miguel, desde donde puedes contemplar gran parte de la provincia y Sierra Morena.
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/bicis.jpg" alt="Rutas en bici por la Campiña Sur Llerena" class="img-fluid"> </p>

    <h1>Barranquismo</h1>
    <p>
      Actividad no apta para cualquiera. <br/>
      Te atan el arnés, te pones el casco. Te dicen que no mires abajo pero miras; te dices que no pienses en nada pero lo haces.<br/>
      Ya no hay vuelta atrás. Estás en el borde y después sólo quedan los más de cuarenta metros de caída que harás en rápel.<br/>
      El corazón te va a mil, y sientes ese pequeño cosquilleo propio de las situaciones que sabes que no se olvidan.
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/barranquismo.jpg" alt="Barranquismo en Sierra Morena, Llerena" class="img-fluid"> </p>
    <p class="text-muted">* Hay varios niveles de dificultad. No todo el mundo quiere tener esta experiencia como primera experiencia de barranquismo :)</p>

    <h1>Senderismo</h1>
    <p>
      La Campiña Sur cuenta con varios recorridos de gran belleza y de distinto nivel. El senderismo tiene aquí tanta afición y tradición que Llerena cuenta con
      una asociación senderista (<%= link_to "ASTOLL", "http://www.astoll.es/" %>). Algunas rutas recomendadas: Ruta del Rey Jayón (24 kms), Sierra de Hornachos (15 kms),
      Ruta de las 3 sierras (20 kms), recorrido Llerena - Teatro Romano de Regina - Castillo de Reina - Sierra de San Miguel - Llerena.
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/senderismo.jpg" alt="Senderismo Llerena" class="img-fluid"> </p>

      <h1>Kayaks</h1>
    <p>
      Tanto si es una travesía tranquila como si le dáis un poco de más competición, el recorrido en Kayaks es un actividad muy agradable y divertido.
      Imagina la paz de estar sobre un kayak a última hora de la tarde con una suave brisa recorriendo la superficie de un pantano.<br/>
      Ya puedes dejar de imaginar. ¡Anímate a experimentarlo!
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/kayaks.jpg" alt="Kayaks en Llerena" class="img-fluid"> </p>

    <h1>Parque multiaventura</h1>
    <p>
      Seguramente hayas visto por la tele juegos como Humor Amarillo, el Juego de la Oca o similares. La propuesta es clara: un circuito con obstáculos, retos
      y actividades de aventura como gymkhanas, tirolinas, y circuitos por la copa de los árboles.
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/multiaventura.jpg" alt="Parque Multiaventura en Llerena" class="img-fluid"> </p>

    <h1>Tiro con arco</h1>
    <p>
      Lo de cupido parecía un trabajo fácil, pero si te apuntas a esta actividad descubrirás que no. Afortunadamente no tendrás que dispararle a nadie y sólo
       con las fotos que te hagas, podrás impresionar a tu gran amor.
    </p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/tiro_con_arco.jpg" alt="Tiro con Arco en Llerena" class="img-fluid"> </p>

    <h1>Banana Boat</h1>
    <p>¿Recuerdas esos toros mecánicos que suelen llevan a las ferias? Pues esto es mejor. El objetivo es el mismo: no caerse, ¡pero esta vez al agua! La Banana Boat
      es una atracción acuática que hace las veces de bagón de pasajeros de una zodiac. Mucha velocidad, grandes cambios de ritmo y diversión sin límites.
    </p>
    <p>¿Te atreves?</p>
    <p class="text-center"> <img src="<%= "#{$url_base}" %>/cities/llerena/fotos/banana.jpg" alt="Banana Boat en Llerena" class="img-fluid"> </p>


    <p class="text-center">Si quieres saber más busca empresas en la categoría de <mark>Ocio y Turismo Activo</mark> o con la etiqueta
      <span class="badge badge-pill badge-primary hashtag">#turismoactivo</span>
    </p>


  </div>
</div>
