<%= simple_form_for(@empresa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :imgLogo %>
    <%= f.input :imgLogoAlt %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :mapLon %>
    <%= f.input :mapLat %>
    <%= f.association :tag %>
    <%= f.association :offer %>
    <%= f.input :schedule %>
    <%= f.input :direction %>
    <%= f.input :web %>
    <%= f.input :email %>
    <%= f.input :tel %>
    <%= f.association :user %>
    <%= f.association :photo %>
    <%= f.input :video %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
