<%= simple_form_for(@empresa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :mapLon %>
    <%= f.input :mapLat %>
    <%= f.input :video %>
    <%= f.input :schedule %>
    <%= f.input :direction %>
    <%= f.input :web %>
    <%= f.input :email %>
    <%= f.input :tel %>

    <%= f.input :img_logo, as: :file, label: "Selecciona el logo de tu empresa" %>
    <%= f.input :img_logo_alt %>

    <%= f.association :user, :as => :hidden, :input_html => { :value => current_user.id } %>  

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
