

<%= form_for @empresa, html: {multipart: true}  do |f| %>
<div class="form-group">
<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.label :name %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :name %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.label :Seleccione_una_fotografía_de_su_logo %>
    </div>
    <div class="col-md-3">
      <%= f.file_field :logo, as: :file %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.label :Email %>
    </div>
  <div class="col-md-3">
  <%= f.text_field :email %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
  <%= f.label :Número_de_teléfono %>
    </div>
    <div class="col-md-3">
  <%= f.text_field :tel %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
  <%= f.label :Dirección %>
    </div>
    <div class="col-md-3">
  <%= f.text_field :address %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.label :Horario_al_público %>
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.label :Página_web %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :web %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.label :Seleccione_categoría_empresarial %>
    </div>
    <div class="col-md-3">
      <%= f.collection_select :category_id, Category.all, :id, :name, :selected => Category.first  %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.label :Palabras_clave, hint: "Meta las palabras clave separadas por comas" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :tag_list %>
    </div>
  </div>
</p>

<p>
  <div class="row">
    <div class="col-md-2 offset-md-3">
  <%= f.label :Descripción_detallada_de_tu_empresa %>
  <%= f.text_area :description, size: "60x12"  %>
    </div>
  </div>
</p>

<p>
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <%= f.label :Latitud %>
        <%= f.number_field(:mlat, step:0.000001) %>
      </div>
      <div class="col-md-3">
        <%= f.label :Longitud %>
        <%= f.number_field(:mlon, step:0.000001) %>
      </div>
    </div>


<p>
  <div class="row">
    <div class="col-md-2 offset-md-3">
      <%= f.label :Seleccione_varias_fotos %><br>
      <%= f.file_field :fotos, multiple: true %>
    </div>
  </div>
</p>

<p>
  <div class="text-center">
  <%= f.submit "Enviar", class: "btn btn-primary text" %>
  </div>
</p>
</div>
<% end %>
