
  <%= render "cities/slider" %>
  <!-- primera fila -->
  <h1 class="mainribbon"><strong><span class="capital_color">ATRACTIVOS</span> TURÍSTICOS</strong></h1>
    <div class="row">

        <% if @puntos.any?  %>
          <% @puntos.each do |punto| %>
          <div class="col-md-4">
            <div class="card card-space-bottom">
              <%= image_tag(punto.try(:fotospunto).try(:first).try(:url), class: "card-img-top img-fluid", alt: "Card image cap") unless punto.fotospunto.empty? %>
              <div class="card-body">
                <p class="card-text"><strong><%= punto.title %></strong></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

  <!-- segunda fila -->
    <div class="row">
      <div class="col-md-6">
        <h1 class="mainribbon"> <strong> <span class="capital_color">PRÓXIMOS</span> EVENTOS</strong></h1>

        <% if @eventos.any?  %>
          <%= render @eventos %>
          <div class="text-right">
            <%= link_to 'Ver todos', eventos_path %>
          </div>
        <% else %>
          <div class="row alert alert-secondary">
            No hay eventos próximos
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <h1 class="mainribbon"> <strong> <span class="capital_color">COMERCIO</span> LOCAL</strong></h1>
          <% if @promos.any?  %>
            <%= render @promos %>
            <div class="text-right">
              <%= link_to 'Ver todas', promos_path %>
            </div>
          <% else %>
            <div class="text-center text-muted">
              No hay promociones recientes
            </div>
          <% end %>
      </div>
    </div>
