<div class="card-columns">

   <% @empresas.each do |empresa| %>

     <%= link_to empresa_path(empresa) do %>

         <div class="card cards">
           <img class="card-img-top img-fluid img-pad" src="<%= empresa.logo.url if empresa.logo? %>" alt="<%= empresa.name if empresa.name? %>">
           <div class="card-body">
             <h5 class="card-title"><%= link_to empresa.name, empresa_path(empresa) if empresa.name? %></h5>
             <p class="card-text"><%= empresa.excerpt if empresa.excerpt? %></p>
           </div>
         </div>

       <% end %>

   <% end %>

</div>
<div class="row">
  <div class="col-md-12">
      <%= will_paginate @empresas, list_classes: %w(pagination justify-content-center) %>
  </div>
</div>
