<div class="row">
  <div class="col-9">
    <!-- primera fila -->
    <div class="row">
      <div class="col-4">
        <div class="card" >
          <%= link_to image_tag(@empresas.first.logo.url,class:"card-img-top img-fluid",alt:"Card image cap"),empresa_path(@empresas.first) if @empresas.first.logo?  %>
          <div class="card-body">
            <h5 class="card-title"><%= @empresas.first.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Échale un ojo</a>
            <p class="card-text"><small class="text-muted"> - Promocionado - </small></p>
          </div>
        </div>

      </div>
      <div class="col-8">
        <div class="card bg-dark text-white ">
          <img class="card-img" src="<%= @empresas.first.fotos[2].url unless @empresas.first.fotos[2].blank? %>" alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">Descubre</h5>
            <p class="card-text">El rincón escondido de Llerena, el lugar donde los sueños se hace realidad y donde los niños nunca crecen</p>
          </div>
        </div>
      </div>
    </div>

     <!-- segunda fila -->
     <div class="row">
       <div class="col-8">
         <strong class="text-center">PRÓXIMOS EVENTOS</strong>

         <% if @eventos.any?  %>
           <%= render @eventos %>
         <% else %>
           <div class="row alert alert-secondary">
             No hay eventos próximos
           </div>
         <% end %>

         <div class="text-right">
           <%= link_to 'Ver todos', eventos_path %>
         </div>

       </div>
       <div class="col-4">
         <div class="card">
           <%=link_to image_tag(@empresas.first.logo.url, class: "card-img-top img-fluid", alt: "Card image cap"), empresa_path(@empresas.first) unless @empresas.first.logo.blank? %>
           <div class="card-body">
             <h5 class="card-title"><%= @empresa1.name %></h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="#" class="btn btn-primary">Échale un ojo</a>
             <p class="card-text"><small class="text-muted"> - Promocionado - </small></p>
           </div>
         </div>

       </div>

     </div>
     <!-- tercera fila -->
     <div class="row">
       <div class="col-12">
         <a class="weatherwidget-io" href="https://forecast7.com/es/38d24n6d02/llerena/" data-label_1="LLERENA" data-label_2="Extremadura" data-theme="original" >LLERENA Extremadura</a>
         <script>
         !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
         </script>
       </div>

     </div>


  </div>
  <!-- separador promociones -->
  <div class="col-3">

    <div class="row alert alert-info">
      <strong>PROMOCIONES FLASH</strong>
    </div>
    <% if @promos.any?  %>
      <%= render @promos %>
    <% else %>
      <div class="row alert alert-secondary">
        No hay promociones recientes
      </div>
    <% end %>
    <div class="row">
      <div class="col-12">
        <div class="text-right">
          <%= link_to 'Ver todas', promos_path %>
        </div>
      </div>
    </div>
  </div>

</div>



<%= link_to 'New Empresa', new_empresa_path %>
