<div class="card-desk">

 <% @empresas.each do |empresa| %>

   <div class="col-md-3">

   <div class="card cards">
     <img class="card-img-top img-fluid" src="<%= empresa.logo.url if empresa.logo? %>" alt="<%= empresa.name if empresa.name? %>">
     <div class="card-body">
       <h5 class="card-title"><%= link_to empresa.name, empresa_path(empresa) if empresa.name? %></h5>
       <p class="card-text"><%= empresa.excerpt if empresa.excerpt? %></p>
       <%= link_to "Ver empresa", empresa_path(empresa), class: "btn btn-primary" %>
     </div>
   </div>
   </div>

 <% end %>

</div>
<%#= link_to(image_tag(empresa.logo, class: "img-fluid"), empresa_path(empresa)) if empresa.logo? %>
