<p id="notice"><%= notice %></p>

<h1>Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Imglogo</th>
      <th>Imglogoalt</th>
      <th>Name</th>
      <th>Description</th>
      <th>Maplon</th>
      <th>Maplat</th>
      <th>Tag</th>
      <th>Offer</th>
      <th>Schedule</th>
      <th>Direction</th>
      <th>Web</th>
      <th>Email</th>
      <th>Tel</th>
      <th>User</th>
      <th>Photo</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.imgLogo %></td>
        <td><%= empresa.imgLogoAlt %></td>
        <td><%= empresa.name %></td>
        <td><%= empresa.description %></td>
        <td><%= empresa.mapLon %></td>
        <td><%= empresa.mapLat %></td>
        <td><%= empresa.tag %></td>
        <td><%= empresa.offer %></td>
        <td><%= empresa.schedule %></td>
        <td><%= empresa.direction %></td>
        <td><%= empresa.web %></td>
        <td><%= empresa.email %></td>
        <td><%= empresa.tel %></td>
        <td><%= empresa.user %></td>
        <td><%= empresa.photo %></td>
        <td><%= empresa.video %></td>
        <td><%= link_to 'Show', empresa %></td>
        <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
        <td><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa', new_empresa_path %>
