
<p>
  <strong>Imglogo:</strong>
  <%= image_tag (@empresa.img_logo) %>
</p>

<p>
  <strong>Imglogoalt:</strong>
  <%= @empresa.img_logo_alt %>
</p>

<p>
  <strong>Name:</strong>
  <%= @empresa.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @empresa.description %>
</p>

<p>
  <strong>Maplon:</strong>
  <%= @empresa.mapLon %>
</p>

<p>
  <strong>Maplat:</strong>
  <%= @empresa.mapLat %>
</p>



<p>
  <strong>Schedule:</strong>
  <%= @empresa.schedule %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @empresa.direction %>
</p>

<p>
  <strong>Web:</strong>
  <%= @empresa.web %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @empresa.tel %>
</p>

<p>
  <strong>User:</strong>
  <%= @empresa.user %>
</p>


<p>
  <strong>Video:</strong>
  <%= @empresa.video %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
