<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @empresa.logo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @empresa.description %>
</p>

<p>
  <strong>Mlon:</strong>
  <%= @empresa.mlon %>
</p>

<p>
  <strong>Mlat:</strong>
  <%= @empresa.mlat %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @empresa.schedule %>
</p>

<p>
  <strong>Address:</strong>
  <%= @empresa.address %>
</p>

<p>
  <strong>Web:</strong>
  <%= @empresa.web %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @empresa.tel %>
</p>

<p>
  <strong>Video:</strong>
  <%= @empresa.video %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= @empresa.fotos %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
