<%= simple_form_for [:superadmin, @user] do |f| %>


<%= f.input  :email, class: "s", label: "E-Mail" %>
<%= f.input  :dni, class: "s", label: "DNI"%>
<%= f.input  :first_name, class: "s", label: "Nombre" %>
<%= f.input  :last_name, class: "", label: "Apellidos" %>
<%= f.input :birthdate, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 16,
                              order: [:day, :month, :year], label: "Fecha de Nacimiento" %>



<%#= f.hidden_field :plan %>
<%= f.input  :phone, class: "s", label: "Teléfono" %>
<%= f.input  :address, class: "s", label: "Dirección"%>
<%= f.input  :gender, collection: [ "Hombre", "Mujer"], class: "s", label: "Sexo" %>

<% superadmins_only do %>
  <p class="text-muted">Sólo para superadmins</p>
    <%= f.select :role, User.roles.keys %>
  <p class="text-muted">Fin sólo para superadmins</p>
<% end %>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th class="text-center">Reto</th>
      <th class="text-center">Recompensa</th>
      <th class="text-center">Conseguido</th>
    </tr>
  </thead>

  <tbody>
      <% if @proposals[0] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[0].title, achievement_proposal_path(@proposals[0]) if @proposals[0].try(:title) %></td>
        <td class="text-center"><%= @proposals[0].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement0, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[1] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[1].title, achievement_proposal_path(@proposals[1]) if @proposals[1].try(:title) %></td>
        <td class="text-center"><%= @proposals[1].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement1, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[2] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[2].title, achievement_proposal_path(@proposals[2]) if @proposals[2].try(:title) %></td>
        <td class="text-center"><%= @proposals[2].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement2, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[3] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[3].title, achievement_proposal_path(@proposals[3]) if @proposals[3].try(:title) %></td>
        <td class="text-center"><%= @proposals[3].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement3, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
      </tr>
      <% end %>

      <% if @proposals[4] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[4].title, achievement_proposal_path(@proposals[4]) if @proposals[4].try(:title) %></td>
        <td class="text-center"><%= @proposals[4].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement4, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[5] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[5].title, achievement_proposal_path(@proposals[5]) if @proposals[5].try(:title) %></td>
        <td class="text-center"><%= @proposals[5].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement5, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[6] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[6].title, achievement_proposal_path(@proposals[6]) if @proposals[6].try(:title) %></td>
        <td class="text-center"><%= @proposals[6].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement6, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[7] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[7].title, achievement_proposal_path(@proposals[7]) if @proposals[7].try(:title) %></td>
        <td class="text-center"><%= @proposals[7].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement7, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[8] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[8].title, achievement_proposal_path(@proposals[8]) if @proposals[8].try(:title) %></td>
        <td class="text-center"><%= @proposals[8].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement8, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

      <% if @proposals[9] %>
      <tr>
        <td class="text-center"><%= link_to @proposals[9].title, achievement_proposal_path(@proposals[9]) if @proposals[9].try(:title) %></td>
        <td class="text-center"><%= @proposals[9].try(:reward) %> créditos</td>
        <td class="text-center">
          <%= f.simple_fields_for :achievement do |fc| %>
              <%= fc.input :achievement9, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
          <% end %>
        </td>
      </tr>
      <% end %>

  </tbody>
</table>

<%= f.button :submit, "Actualizar", class: "btn btn-primary" %>




<% end %>
