<h1 class="text-center">Lleva clientes a tu negocio, lleva tu negocio al siguiente nivel</h1>
<h3 class="text-muted text-center">La publicidad más inteligente donde más la necesitas</h3>

<div class="row bigspace">
  <div class="col-md-6 ">
      <h3>Aparece cuando tus clientes busquen parabras relacionadas con tu negocio</h3>
      <h5 class="text-muted">La gente ya no busca gimnasios, busca sitios donde hacer spinning. El que antes buscaba un bar, ahora quiere uno con Estrella Galicia,
        y el que antes necesitaba un abogado ahora quiere un experto en divorcios.</h5>
        <h5 class="text-muted">Los tiempos cambian y las exigencias también. Sírvete de nuestro sistema de búsqueda y rastreo  inteligente
          para conseguir más y mejores clientes.</h5>
  </div>
  <div class="col-md-6">
    <img src="<%= "#{$url_base}" %>/comunes/publicitate/hashtags.jpg" alt="beneficios hashtags guia" class="img-fluid">
  </div>
</div>

<div class="row bigspace">
  <div class="col-md-6">
    <span class="align-middle">
    <h3>Promociones a lo grande</h3>
    <h5 class="text-muted">Genera anuncios instantáneos de corta duración y gran difusión que puedes crear en cualquier momento y en menos de 30 segundos.</h5>
      <h5 class="text-muted">Las promociones flash tienen una duración de 24 horas, 3 días o una semana según la campaña que necesites hacer en cada momento.</h5>
      <h5 class="text-muted">Consigue impacto publicitario ŕapido y efectivo aprovechando una combinación imparable de marketing de proximidad y dispositivos móviles.</h5>
      </span>
  </div>
  <div class="col-md-6">
    <img src="<%= "#{$url_base}" %>/comunes/publicitate/promo.jpg" alt="promociones flash guia" class="img-fluid mx-auto d-block">
  </div>
</div>

<div class="row bigspace">
  <div class="col-md-6">
      <h3>Tu empresa como nunca la habías visto</h3>
      <h5 class="text-muted">Te mandamos a un fotógrafo profesional para que todo el mundo pueda ver la mejor cara de tu empresa.
        Te asesoraremos para que elijas las palabras clave que más te interesan y te ayudaremos a confeccionar un perfil tremendamente orientado a generar ventas usando técnicas
        de marketing 100% probadas y efectivas.</h5>
  </div>
  <div class="col-md-6">
    <img src="<%= "#{$url_base}" %>/comunes/publicitate/perfil.png" alt="beneficios hashtags guia" class="img-fluid">
  </div>
</div>

<div class="row bigspace">
  <div class="col-md-6">
      <h3>Donde están los clientes que buscas</h3>
      <h5 class="text-muted">Sólo aquí encontrarás a toda la gente de la zona pendiente de los mejores chollos, gangas y eventos que vayan saliendo.</h5>
      <h5 class="text-muted">El primer sitio que el turista consulta para ver todo lo que la zona ofrece. El único lugar que desvela curiosidades,
        secretos y fotos impresionantes con una perspectiva artística sin igual. </h5>
  </div>
  <div class="col-md-6">
    <img src="<%= "#{$url_base}" %>/comunes/publicitate/puntos.jpg" alt="beneficios hashtags guia" class="img-fluid">
  </div>
</div>

<div class="row bigspace">
  <div class="col-md-6">
      <h3>SEO y posicionamiento web al cuadrado </h3>
      <h5 class="text-muted">Todos los perfiles de empresa están extra-optimizados.</h5>
      <h5 class="text-muted">Certificados SSL, palabras clave, metadatos, tiempos de carga, optimización de scripts, URLs canónicas, atributos alt...
      Hoy en día el posicionamiento web se ha vuelto una ciencia compleja. Ni si quiera los que tienen su propia web desde años consiguen apañárselas bien.</h5>
      <h5 class="text-muted">Nosotros te damos todo hecho para que tu perfil pueda salir bien arriba en las búsquedas de Google.</h5>
  </div>
  <div class="col-md-6">
    <img src="<%= "#{$url_base}" %>/comunes/publicitate/seo.png" alt="beneficios hashtags guia" class="img-fluid">
  </div>
</div>

<div class="row bigspace">
  <div class="col-md-6">
      <h3>Disponible las 24 horas del día, los 365 días del año y siempre al alcance de tu mano</h3>
      <h5 class="text-muted">¿Cuándo ves un partido estás pendiente del partido o de la publicidad de los lados? Viendo la tele, ¿Cuándo aprovechas para ir al baño?
        ¿Cuántos minutos al día escuchas la radio?</h5>
      <h5 class="text-muted">Esta guía es el único sitio a nivel local que te garantiza que cuando tu cliente te encuentre, tendrá toda su atención puesta en ti.
        El 88% de la población tiene móvil y lo lleva siempre encima. Eso convierte a Internet y a las plataformas digitales en el medio más efectivo para llegar a personas
        de cualquier perfil.
      </h5>
      <h5 class="text-muted">Todo ello <strong>a un precio diez veces menor</strong> que algunas de las alternativas tradicionales.</h5>
  </div>
  <div class="col-md-6">
    <img src="<%= "#{$url_base}" %>/comunes/publicitate/publitrad.png" alt="beneficios de la publicidad digital frente a la tradicional" class="img-fluid">
  </div>
</div>



<p>
<h5>Guia<%= current_city_capitalized %>.es es el mejor sitio en el que puedes aparecer como empresa.

Es el sitio donde está la gente de aquí y los turistas que nos visitan. Es el único sitio donde encontrar todos los chollos y las gangas de la zona ...y donde anunciarlas.
 Es el sitio donde encontrarás las mejores fotos y la información más completa sobre todo aquello que nos hace sentir orgullosos.
 Y sobre todo, es un lugar que te ayudará en el desarrollo de tu negocio.</h4>




<div class="text-center bigspace">

  <%= link_to "Ver planes y precios", precios_path, class: "btn btn-primary btn-lg" %>
</div>
