<%= form_tag charges_path, id: 'chargeForm' do %>
<script src="https://checkout.stripe.com/checkout.js"></script>


      <%= hidden_field_tag 'amount', 0 %>
      <%= hidden_field_tag 'stripeToken' %>
      <%= hidden_field_tag 'stripeEmail' %>

  <p>
    <div class="form-group">
    Opciones de pago:</br>
    <p>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" value="baja" checked>
      <label class="custom-control-label" for="customRadioInline1">20 créditos (20 €)</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input" value="media">
      <label class="custom-control-label" for="customRadioInline2">50 créditos (50 €)</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input" value="alta">
      <label class="custom-control-label" for="customRadioInline3">100 créditos (100 €)</label>
    </div>
  </p>
    </div>
  </p>


    <div class="row">
      <button id="btn-buy" type="button" class="btn btn-primary center-block">
        <span></span>
        Pagar</button>
    </div>

          <script>
          document.getElementById('btn-buy').addEventListener('click', function(e) {

            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              image: 'http://adeter.org/guialocal/ADETER_chica.png',
              locale: 'es',
              token: function(token) {
                  document.getElementById("stripeToken").value = token.id;
                  document.getElementById("stripeEmail").value = token.email;
                  document.getElementById("chargeForm").submit();
              }
            });

            if ($("input[type=radio]:checked").length != 1) {
                alert("Debes seleccionar al menos una opción");
            }
            else {

              handler.open({
                name: 'ADETER',
                description: "Recarga de créditos",
                locale: 'es',
                currency: 'eur',
                amount: parseInt(document.getElementById("amount").value)
              });
            }
            // Open Checkout with further options:

            e.preventDefault();
          });
          // Close Checkout on page navigation:
          window.addEventListener('popstate', function() {
            handler.close();
          });
          </script>


<% end %>
