<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Guia<%="#{$current_city}.es"%></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= analytics_init if GoogleAnalytics.valid_tracker? %>

  </head>

  <body>

    <%= render "layouts/header" %>

    <div class="container">
      <%= render 'layouts/messages' %>

      <%= yield %>
    </div>
      <%= render "layouts/footer" %>
  </body>
</html>
