<%= simple_form_for [:superadmin, @config], url: superadmin_configs_url do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% superadmins_only do %>

      <p class="text-muted">Sólo para superadmins</p>
      <%= f.label :Ciudad_base %>
      <%= f.select :city, Config.cities.keys %>

      <p>
      <%= f.label :Reindexar? %>
      <%= select_tag "reindex", options_for_select([ "NO", "YES" ], "NO") %>
      </p>

    <div class="col-auto">
      <div >
        <%= f.input :promo_active, label: "Promo activa", as: :boolean, class: "align-text-bottom"%>
      </div>
      <div >
        <%= f.input :promo_text, label: false, class: " align-middle" %>
      </div>
    </div>

    <div class="col-auto">
      <%= f.input :number_of_points, as: :integer %>
      <%= f.input :number_of_promos, as: :integer %>
      <%= f.input :number_of_events, as: :integer %>

    </div>

    <div class="col-auto">
      <div >
        <%= f.input :happyhour, label: "Happy Hour", as: :boolean, class: "align-text-bottom"%>
      </div>
    </div>



      <p class="text-muted">Fin sólo para superadmins</p>
    <% end %>
  </div>

  <div class="form-actions">
    <p><%= f.button :submit, class: "btn btn-primary" %></p>
  </div>
<% end %>
