<%= simple_form_for [:superadmin, @config], url: superadmin_configs_url do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% superadmins_only do %>

      <p class="text-muted">S贸lo para superadmins</p>
      <%= f.label :Ciudad_base %>
      <%= f.select :city, Config.cities.keys %>

    <div class="col-md-4">
      <%= f.input :number_of_points, as: :integer, label: "Puntos por ciclo" %>
      <%= f.input :number_of_promos, as: :integer, label: "Promos por ciclo" %>
      <%= f.input :number_of_events, as: :integer, label: "Eventos por ciclo" %>
    </div>

    <small class="text-muted">Tiempos en milisegundos (x1000)</small></br>
    <div class="col-md-4">
      <%= f.input :time_delay_with_header, as: :integer, label: "Tiempo de visualizaci贸n de cabecera" %>
      <%= f.input :time_between_slides, as: :integer, label: "Duraci贸n de cada diapositiva" %>
    </div>

    <%= f.input :header, as: :file, label: "Cabecero de las pantallas " %>
    <p><%= image_tag(@config.header, class: "img-fluid") if @config.header? %></p>


  </div>

  <div class="form-actions">
    <p><%= f.button :submit, class: "btn btn-primary" %></p>
  </div>

    <p class="text-muted">Fin s贸lo para superadmins</p>
  <% end %>
<% end %>
